<ul>
    <div class="titlecontainer">
        <h1 class="toptitle">
            <span>
                Grossiste alimentaire
            </span>
            <br class="visible-xs">
            pour la restauration en produits frais et produits surgelés
        </h1>
    </div>
</ul>

<ul class="menu">
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#import">Import</a></li>
    <li><a href="#find">Find</a></li>
    <li><a href="#about">About</a></li>
    <img src="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png" class="logo-picture">
</ul>