{% extends "base.html" %}
{% block title %}importer une image{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}


{% block body %}

{% if message_error != "" %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Info </strong> {{message_error}}
  </div>
{% endif %}

<form action="/import" method="post" enctype="multipart/form-data">

<label class="fontstyle" for="">Nom image</label>
<input type="file" name="filename" required multiple>
<br><br>
<label class="fontstyle" for="">Type image</label>
<select class="select" name="typeImg">
    <option value="PassionFroid">Photo PassionFroid</option>
    <option value="fournisseur">Photo fournisseur</option>
    <option value="logo">Logo</option>
</select>
<br>
<label class="fontstyle" for="">Photo avec produit</label>
<select class="select" name="isProduct">
    <option value="oui">Oui</option>
    <option value="non">Non</option>
</select>
<br>
<label class="fontstyle" for="">Photo avec humain</label>
<select class="select" name="isHuman">
    <option value="oui">Oui</option>
    <option value="non">Non</option>
</select>
<br>
<label class="fontstyle" for="">Photo institutionnelle</label>
<select class="select" name="isInstitutional">
    <option value="oui">Oui</option>
    <option value="non">Non</option>
</select>
<br>
<label class="fontstyle" for="">Crédit photo</label>
<input type="text" name="credit" required>

<br><br>

<label class="fontstyle" for="">Droits d'utilisation limités</label>
<select class="rightOfUse-js select" name="rightOfUse">
    <option value="oui">Oui</option>
    <option value="non">Non</option>
</select>

<div class="isVisible-js">
    <label class="fontstyle" for="">Copyright</label>
    <input type="text" name="copyrightImg" required>
</div>

<br><br>

<label class="fontstyle" for="">Date de fin de droits d’utilisation</label>
<input type="date" name="endOfUse" required>

<br><br>

<label class="fontstyle" for="">Catégorie</label>
<select class="select" name="category">
    <option value="Produit">Produit</option>
    <option value="Ambiance">Ambiance</option>
</select>
<br><br>

<select name="tag" class="selectpicker" multiple data-live-search="true">
    {% for tag in tags %}
        <option value="{{tag.id}}">{{tag.name}}</option>
    {% endfor %}
  </select>

<br><br>
<button type="submit">Importer une photo</button>

</form>

{% endblock body %}

{% block js %}

{% endblock %}